<h3>Now I'm home, foul rag.</h3>
<p>{{ tagline }}</p>

<form ng-submit="postPoem()">
  <input type="text" name="author" ng-model="poemForm.author"> Author <br/>
  <input type="text" name="title"  ng-model="poemForm.title"> Title <br/>
  <textarea  name="text"  ng-model="poemForm.text"> Enter Poem here </textarea><br/>
  <input type="checkbox" name="indentOverflow" ng-model="poemForm.indentOverflow">Indent overflow of lines?<br/>
  <input type="text" name="language"  ng-model="poemForm.language"> Language <br/>
  <button type="submit">
    Submit!
  </button>
</form>

<!--<pre>
  <code>
    {{poemForm}}
  </code>
</pre> -->
