<p>"Those masterful images because complete</p>
<p>Grew in pure mind, but out of what began?</p>
<p>A mound of refuse or the sweepings of a street,</p>
<p>Old kettles, old bottles, and a broken can,</p>
<p>Old iron, old bones, old rags, that raving slut</p>
<p>Who keeps the till. Now that my ladder's gone,</p>
<p>I must lie down where all the ladders start</p>
<p>In the foul rag and bone shop of the heart."</p>
<p>W.B. Yeats</p>
<p>from "The Circus Animals' Dessertion"</p>

<!--<pre>
  <code>
    {{poemForm}}
  </code>
</pre> -->
