<form ng-submit="postPoem()" class="fr-form">
  <fieldset>
    <label for="author">Author</label>
    <input type="text" name="author" ng-model="poemForm.author">
  </fieldset>
  <fieldset>
    <label for="title">Title</label>
    <input type="text" name="title"  ng-model="poemForm.title">
  </fieldset>
  <fieldset>
    <label for="text">Enter Poem Text</label>
    <textarea  name="text"  ng-model="poemForm.text"></textarea>
  </fieldset>
  <fieldset>
    <label for="indentOverflow">Indent overflow?</label>
    <input type="checkbox" name="indentOverflow" ng-model="poemForm.indentOverflow">
  </fieldset>
  <fieldset>
    <label for="language">Language</label>
    <input type="text" name="language"  ng-model="poemForm.language">
  </fieldset>
  <button type="submit">
    Submit!
  </button>
</form>
